useragent = "Mozilla/5.0 (Windows NT 10.0; WOW64; rv:41.0) Gecko/20100101 Firefox/41.0"
baseurl = "www.imagefap.com"
php = "/gallery.php"
pics = "/pictures/"
GalleryLink1 = "www.imagefap.com/gallery.php?gid="
GalleryLink2 = "www.imagefap.com/pictures/"
GalleryLink3 = "xhamster.com/photos/gallery/"
GalleryLink4 = "www.imagefap.com/gallery/"
MainDirectory = "Galleries"
UserDirectory = "UserGalleries"
IFUserLink = "www.imagefap.com/profile/"
IFFolder1 = "www.imagefap.com/organizer/"
IFFolder2 = "folderid="
